<div class="card">
    <div class="card-header text-center">
        <h3>{{post.title}}</h3>
    </div>
    <div class="card-body">
        <p style="color: gray;">{{post.createdAt}}</p>
        <p>{{post.content}}</p>
    </div>
</div>