<h1>List Posts</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Created_At</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {{#each posts}}
        <tr>
            <td>{{this.title}}</td>
            <td>{{this.createdAt}}</td>
            <td>
                <a href="/blog/{{this._id}}/edit" class="btn btn-primary badge">Edit</a>
                <form action="/blog/{{this._id}}/delete" method="post">
                    <button type="submit" class="btn btn-danger badge" onclick="return confirm('Apakah anda yakin?')">Delete</button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>